:root {
  --black: #000;
  --white: #fff;
  --yellow: #f5d442;
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 16px;
}

/* BODY */
body {
  margin: 0;
}

/* MAIN */
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

/* CATALOG */
.catalog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.catalog-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--spacing-lg);
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item .item-img {
  width: 100%;
  height: 300px;
}

.item .item-name {
  font-size: 1.05rem;
}

.item .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item .item-add {
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: var(--spacing-lg);
  font-weight: bold;
  font-size: 1.05rem;
  width: 100%;
}

.item .item-add:hover {
  cursor: pointer;
  background-color: var(--yellow);
}

/* FILTER */
.filter-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 0.9rem;
  border: 1px solid transparent;
}

.filter-btn:hover {
  border-color: var(--black);
}

.filter-btn.active {
  background-color: var(--black);
  color: var(--white);
}