:root {
  --black: #000;
  --white: #fff;
  --yellow: #f5d442;
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 16px;
  --standard-width: 1140px;
}

/* BODY */
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HEADER */
.header {
  width: 100%;
  max-width: var(--standard-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN */
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin-top: calc(var(--spacing-lg) * 4);
  width: 100%;
  max-width: var(--standard-width);
}

/* CATALOG */
.catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.catalog-items {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: var(--spacing-lg);
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item:hover {
  cursor: pointer;
}

.item .item-img {
  width: 100%;
  height: 300px;
}

.item .item-name {
  font-size: 1.05rem;
}

.item .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item .item-add {
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: var(--spacing-lg);
  font-weight: bold;
  font-size: 1.05rem;
  width: 100%;
}

.item .item-add:hover {
  cursor: pointer;
  background-color: var(--yellow);
}

/* FILTER */
.filter-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 0.9rem;
  border: 1px solid transparent;
}

.filter-btn:hover {
  border-color: var(--black);
}

.filter-btn.active {
  background-color: var(--black);
  color: var(--white);
}

/* CART */
.cart {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cart-content {
  padding: var(--spacing-md);
  min-height: 200px;
  max-height: 350px;
  overflow-y: scroll;
  width: 350px;
  background-color: var(--white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
}

.cart-item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--spacing-sm) 0;
}

.cart-item-img {
  height: 100%;
  max-width: 100px;
}

.cart-item-img img {
  object-fit: contain;
  width: 100%;
}

.cart-item-info {
  padding: var(--spacing-sm);
}

.cart-item-name {
  font-size: 1.1rem;

}

.cart-item-settings {
  padding: var(--spacing-sm);
  display: flex;
  justify-content: flex-end;
}

.cart-item-price {
  font-size: 1.2rem;
  width: fit-content;
}

/* SPINNER */
.spinner {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid lightgrey;
  border-top-color: var(--black);
  animation: spin 1.2s infinite;
}

/* ANIMATIONS */
/* --- spin --- */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
